<% if @view_in_config && @erb_code %>
  <%= render inline: ERB.new(@erb_code).result(binding) %>
  
<% else %>

<h4><%=t('Warehouse Item Info') %></h4>

<p>
  <b><%= t('Item Name') %></b>
  <%= @item.name %>
</p>
<p>
  <b><%= t('Spec') %></b>
  <%= @item.item_spec %>
</p>
<p>
  <b><%= t('In Date') %></b>
  <%= @item.in_date.strftime("%Y/%m/%d") if @item.in_date.present?%>
</p>
<p>
  <b><%= t('In Qty')  %></b>
  <%= @item.in_qty %>/<%= @item.unit %>
</p>
<p>
  <b><%= t('Stock Qty')  %></b>
  <%= @item.stock_qty %>/<%= @item.unit %>
</p>
<p>
  <b><%= t('Total Cost($)') %></b>
  <%= number_with_precision(@item.total_cost, :precision => 2) if @item.total_cost.present? %>
</p>
<p>
  <b><%= t('Unit Price($)') %></b>
  <%= number_with_precision(@item.unit_price, :precision => 2) if @item.unit_price.present? %>
</p>
<p>
  <b><%= t('Other Cost($)') %></b>
  <%= number_with_precision(@item.other_cost, :precision => 2) if @item.other_cost.present? %>
</p>
<p>
  <b><%= t('Storage Location') %></b>
  <%= @item.storage_location %>
</p>
<p>
  <b><%= t('Inspection') %></b>
  <%= @item.inspection %>
</p>

<p>
  <b><%= t('Received By') %></b>
  <%= @item.received_by.name %>
</p>

<p>
  <b><%= t('Last Updated By') %></b>
  <%= @item.last_updated_by.name %>
</p>
<p>
  <b>LOG：</b>
  <% Commonx::Log.where('resource_id = ? AND resource_name = ?', @item.id, params[:controller].sub('/', '_')).order("created_at DESC").each do |t| %>
    <li><%= t.created_at.strftime("%Y/%m/%d") %>,&nbsp; <%= t.last_updated_by.name %>,&nbsp; <%= t.log %> </li>
  <% end %>
</p>
   <table class="table table-striped">
	  <tr>
	    <th>
  	  	  <%= link_to t('Back'), SUBURI + "/view_handler?index=0", :id => 'close', :class => BUTTONS_CLS['action'] %>
 		  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		  <%= link_to t('New Log'), SUBURI + commonx.new_log_path(:resource_id => @item.id, :resource_name => params[:controller], :subaction => 'warehouse_item', :format => :js), :remote => true, 
                          :id => 'new_log_link', :class => BUTTONS_CLS['action'] if has_action_right?('create_warehouse_item', 'commonx/logs') %>
        </th>
	  </tr>
	</table>    	


<% end %>
